<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="style.css">
        <script src="Script_devoir.js"></script> -->
        <title>
        </title>
    </head>
    <body>
        <div style="width: 100%; height: 50px;display: flex;background: black;">
            <div class="re">
                <div style=" width: 20px;
    height: 20px;
    background-color: #5e5e5e;
    border: 3px #5e5e5e solid;
    border-radius: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
    font-weight: bold; ">f</div>
                <div style=" width: 20px;
    height: 20px;
    background-color: #5e5e5e;
    border: 3px #5e5e5e solid;
    border-radius: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
    font-weight: bold; ">tw</div>
                <div style=" width: 20px;
    height: 20px;
    background-color: #5e5e5e;
    border: 3px #5e5e5e solid;
    border-radius: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
    font-weight: bold; ">g+</div>
                <div style=" width: 20px;
    height: 20px;
    background-color: #5e5e5e;
    border: 3px #5e5e5e solid;
    border-radius: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
    font-weight: bold; ">in</div>
            </div>
            <div style="display: inline-block;
    width: 80%;
    height:50px ;
    padding-left: 4em;">
                <ul style="text-align:right;
	display: inline-block;
	color: white;
    width: 80%;
    margin-right: 10px;">
                    <li style="display: inline-block;
	text-align:right;
	margin-left: 40px;"> +237 694982470 </li>
                    <li style="display: inline-block;
	text-align:right;
	margin-left: 40px;"> +237 670360460</li>
                    <li style="display: inline-block;
	text-align:right;
	margin-left: 40px;"><button class=", bouttonEntete"> CALL ME BACK </button></li>
                </ul>
            </div>
        </div>

        <div style="padding-top: 1em;
	display: flex;
	padding-top: 1em;
	padding-bottom: 1em;">
            <div style="display: inline-block;
	width: 20%;
	text-align: left;
	margin-left: 1em;">
                <h4>LUXURIANT BUILD</h4>
            </div>
            <div style="display: inline-block;
	text-align: right;
    width: 80%;
    border-color: black;
    padding-left: 3em;
">
                <ul style="text-align:right;
	display: inline-block;
	color: black;
    margin-right: 10px;">
                    <li style="text-align:right;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;"><a href="#avantages">NOS AVANTAGES</a></li>
                    <li style="text-align:right;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;"><a href="#propos">A PROPOS NOUS </a></li>
                    <li style="text-align:right;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;"><a href="#service">NOS SERVICES </a></li>
                    <li style="text-align:right;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;"><a href="#reali">NOS REALISATIONS</a></li>
                    <li style="text-align:right;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;"><a href="#contact">CONTACT</a></li>  
                </ul>
            </div>
        </div>

        <div style="width: auto;
	height: 500px;" style="background-image: url(../../../assets/fond.jpeg);">
            <div style="width: 20%;
	height: 150px;"></div>
            <div style="width: 100%;
	height: 100px;
	display: flex;">
                <div style="display: flex;
	flex-direction: row;
	background-color:#a2d84c;
	width: 30%;
	padding-top: 10px;
	height: 100px;"></div>
                <div style="display: flex;
	flex-direction: row;
	width: 40%;
	padding-top: 10px;
	height: 100px;
	text-align: center;
	color: white;
	text-decoration: none;;"><h1 style="text-align: center;margin-right: auto;
    margin-left: auto; font-size: 35px;text-decoration: none;">LA FORCE DE L'EXPERIENCE </h1></div>
                <div style="display: flex;
	flex-direction: row;
	background-color:#a2d84c;
	width: 30%;
	padding-top: 10px;
	height: 100px;
	color: white;
	text-align: center;"></div>
            </div>
            <div style="width: 100%;
	height: 400px;
	color: white;
	margin-top: 20px;
	text-align: center;;">
                <br>
                Avec une forte expérience dans la constructionnous mettons notre professionnalisme au service de nos clients <br> qu’ils aient un projet de construction de maison individuelle personnalisée<br> d’une rénovation, d’un agrandissement ou de bâtiment industriel.
                         <br>
                         <br>
                <button style="border:7px #fdbe1b solid;
	background-color: #fdbe1b;
	border-radius: 3px 3px 3px 3px ;
	font-weight: bold;
	box-shadow: 3px 2px #bdaf34;
	cursor: pointer;">EN SAVOIR PLUS</button>
                <br>
                <br>
                <br>
                <br>
                <div style="width: 10px;
	height: 10px;
	background-color: white;
	border:3px white solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;"> </div>
                <div style="display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #aed586;
	border:3px #aed586 solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;"> </div>
                <div style="display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #aed586;
	border:3px #aed586 solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;"> </div>
            </div>
        </div>
        <div class="avantage" id="avantages">
            <div class="enteteavantage">
                <div class="hAvantage"> </div>
                <div class="titreAvantage">
                   <ul>
                       <li class="titreNos">NOS</li>
                       <li class="tiAvantage">AVANTAGES</li>
                   </ul>
                </div>
                <div class="hor2"></div>
            </div>
            <div class="avantagetexte"> LUXURIANT BUILD s'appuie sur cinq valeurs : confiance, autonomie, esprit d’entreprise, responsabilité et solidarité.<br> Elles nourrissent la culture de service et le modèle de management LUXURIANT BUILD</div>
            <div class="avantageimage">
                <div class="icone">
                    <div style="height: 200px;
	width: 200px;
	background-color: #e1e0ce;
	border:5px #e1e0ce solid;
    border-radius: 100% ;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto ;
    display: flex;"><img src="../../../assets/conf.png" width="100px" height="100px" alt="" style="text-align: center; padding-left: 50px;text-align: center; padding-top: 50px;"></div>
                    <div class="texticone1">
                        <ul>
                            <li class="conf">CONFIANCE</li><br>
                            <li class="ppt">La confiance est sous-jacente aux valeurs d’autonomie, de responsabilité et d’esprit d’entreprendre. <br> Elle permet à chacun d’exprimer ses talents. Nous choisissons de travailler en confiance.<br> Elle se donne, se mérite, se récompense et permet à tous de travailler ensemble</li>
                        </ul>
                    </div>
                </div>
                <div class="icone">
                     <div style="height: 200px;
	width: 200px;
	background-color: #e1e0ce;
	border:5px #e1e0ce solid;
    border-radius: 100% ;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto ;
    display: flex;"><img src="../../../assets/auto.png" width="100px" height="100px" alt="" style="text-align: center; padding-left: 50px;text-align: center; padding-top: 50px"></div>
                     <div class="texticone1">
                        <ul>
                            <li class="conf">AUTONOMIE</li><br>
                            <li class="ppt">La stratégie opérationnelle et commerciale se décide dans chaque entreprise.<br>Cela leur permet de répondre aux besoins de leurs clients et d’anticiper les tendances de leurs marchés.<br> Au sein de nos entreprises, chaque collaborateur dispose d’un espace de liberté et d’initiative propice à l’innovation.</li>
                        </ul>
                    </div>
                </div>
                <div class="icone">
                     <div style="height: 200px;
	width: 200px;
	background-color: #e1e0ce;
	border:5px #e1e0ce solid;
    border-radius: 100% ;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto ;
    display: flex;"> <img src="../../../assets/esprit.png" width="100px" height="100px" alt="" style="text-align: center; padding-left: 50px;text-align: center; padding-top: 50px"></div>
                      <div class="texticone1">
                        <ul>
                            <li class="conf">ESPRIT D'ENTREPRISE</li><br>
                            <li class="ppt"> Nous reconnaissons la capacité de chacun à prendre des initiatives, à calculer les risques, à envisager le succès et à l’atteindre.<br> Nous savons assembler nos compétences pour répondre à des projets complexes, <br>offrir à nos clients des services et des process globaux, tout en restant un réseau d’entreprises à taille humaine.  </li>
                        </ul>
                    </div>
                </div>
                <div class="icone">
                     <div style="height: 200px;
	width: 200px;
	background-color: #e1e0ce;
	border:5px #e1e0ce solid;
    border-radius: 100% ;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto ;
    display: flex;"> <img src="../../../assets/social.png" width="100px" height="100px" alt="" style="text-align: center; padding-left: 50px;text-align: center; padding-top: 50px"></div>
                      <div class="texticone1">
                        <ul>
                            <li class="conf">SOLIDARITE</li><br>
                            <li class="ppt">La solidarité est une réalité qui s’exprime notamment par notre travail en réseau : les savoirs, les activités,<br> les ressources se partagent au sein de VINCI Energies, pour plus d’efficacité et de réactivité.<br> Elle s’exprime aussi par l’implication de nos collaborateurs et de nos entreprises dans la société civile. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <div class="aboutus" id="propos">
            <div class="Apropos">
                   <ul>
                         <br>
                       <li class="titreNos">A PROPOS</li>
                       <li class="tiAvantage">NOUS</li>
                   </ul>
            </div>
            <div class="about">
                <div class="abouttext">
                    <br>
                    <br>
                    LUXURIANT BUILD est un acteur leader mondial des concessions, de la construction et de l’énergie, présent dans près de 120 pays. Son ambition, face à l’urgence environnementale, est d’accélérer la transformation du cadre de vie.<br><br> Des infrastructures et de la mobilité. Elle est aussi de contribuer au progrès social en agissant en entreprise humaniste, inclusive et solidaire.<br><br> LUXURIANT BUILD mobilise ainsi sa performance économique et l’engagement des ses 218 000 collaborateurs au service d’un monde plus durable en jouant pleinement son rôle de partenaire privé, d’utilité public. Ainsi, LUXURIANT BUILD crée de la valeur à long terme pour ses clients, ses actionnaires, ses salariés, ses partenaires et pour la société en généra
                    <br>
                    <br>
                    <br>
                    <button style="border:7px #fdbe1b solid;
	background-color: #fdbe1b;
	border-radius: 3px 3px 3px 3px ;
	font-weight: bold;
	box-shadow: 3px 2px #bdaf34;
	cursor: pointer;">EN SAVOIR PLUS</button>
                </div>
                <div class="aboutimage"> <img src="../../../assets/multi.png" width="550px" height="300px" alt=""></div>
            </div>
        </div>
        <div class="nosServices" id="service">
             <div style="height: 70px;
	width: auto;
	display: flex;
	text-align: center;">
                <div style="display: flex;
	flex-direction: row;
	width: 30%;
	padding-top: 15px;
	height: 100px;
	text-align: center;"> </div>
                <div style="color:rgb(82, 132, 15);
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	height:100px;
	width: 70%;">
                   <ul>
                       <li class="titreNos">NOS</li>
                       <li class="tiAvantage">SERVICES</li>
                   </ul>
                </div>
                <div class="hor2"></div>
            </div>
            <div style="font-weight: initial;
	text-align: center;
	height:130px;
	width: 100%;
	color:#e1e0ce;
	padding-top: 10px;
	font-size: 12px;"> LUXURIANT BUILD s'appuie sur cinq valeurs : confiance, autonomie, esprit d’entreprise, responsabilité et solidarité.<br> Elles nourrissent la culture de service et le modèle de management LUXURIANT BUILD</div>
            <div class="serviceimage">
                <div style="display: flex;
	flex-direction: row;
	width: 4%;
	padding-top: 10px;
	height: 205px;"></div>
                <div style="height:205px;
	width: 23%;
	flex-direction: row;
	display: inline-block;
	margin-left: 20px;
	background-color:#e1e0ce;">
                    <div style="height: 50px;
    width: 50px;
    margin-top: -25px;
    background-color: #fdbe1b;
    border: 5px #fdbe1b solid;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto;
    display: flex;
    align-content: flex-end"><img src="../../../assets/etoile1.png" width="30px" height="30px" alt="" style="text-align: center; padding-left: 11px;text-align: center; padding-top: 10px"></div>
                    <div class="texticoneService">
                        <ul>
                            <li class="conf">INFRASTRUCTURES</li><br>
                            <li class="ppt">Nous intervenons dans le domaine de l’équipement des infrastructures de transport et d'énergie, de la conception à l’exploitation.</li>
                            <br>
                            <br>
                            <br>
                            <button style="border:0px  #e1e0ce solid;
	background-color: #e1e0ce;
	font-weight: bold;
	color:#a2d84c ;
	cursor: pointer;
	text-decoration: underline;">EN SAVOIR PLUS</button>
                        </ul>
                    </div>
                </div>
                <div style="height:205px;
	width: 23%;
	flex-direction: row;
	display: inline-block;
	margin-left: 20px;
	background-color:#e1e0ce;">
                    <div style="height: 50px;
    width: 50px;
    margin-top: -25px;
    background-color: #fdbe1b;
    border: 5px #fdbe1b solid;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto;
    display: flex;
    align-content: flex-end"><img src="../../../assets/etoile1.png" width="30px" height="30px" alt="" style="text-align: center; padding-left: 11px;text-align: center; padding-top: 10px"></div>
                    <div class="texticoneService">
                        <ul>
                            <li class="conf">INDUSTRIE</li><br>
                            <li class="ppt">LUXURIANT BUILD Energies intervient auprès de ses clients industriels pour rendre leurs installations plus productives et leurs process plus performants et plus sobres en énergie. </li>
                            <br>
                            <br>
                            <button style="border:0px  #e1e0ce solid;
	background-color: #e1e0ce;
	font-weight: bold;
	color:#a2d84c ;
	cursor: pointer;
	text-decoration: underline;">EN SAVOIR PLUS</button>
                        </ul>
                    </div>

                </div>
                <div style="height:205px;
	width: 23%;
	flex-direction: row;
	display: inline-block;
	margin-left: 20px;
	background-color:#e1e0ce;">
                    <div style="height: 50px;
    width: 50px;
    margin-top: -25px;
    background-color: #fdbe1b;
    border: 5px #fdbe1b solid;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto;
    display: flex;
    align-content: flex-end"><img src="../../../assets/etoile1.png" width="30px" height="30px" alt="" style="text-align: center; padding-left: 11px;text-align: center; padding-top: 10px"></div>
                    <div class="texticoneService">
                        <ul>
                            <li class="conf">BUILDING SOLUTIONS</li><br>
                            <li class="ppt">Building Solutions est le domaine d’activité de LUXURIANT BUILD Energies dédié aux bâtiments. Chaque jour, nous concevons, maintenons et exploitons des bâtiments plus durables, accueillants et performants</li>
                            <br>
                            <br>
                            <button style="border:0px  #e1e0ce solid;
	background-color: #e1e0ce;
	font-weight: bold;
	color:#a2d84c ;
	cursor: pointer;
	text-decoration: underline;">EN SAVOIR PLUS</button>
                        </ul>
                    </div>

                </div>
                <div style="height:205px;
	width: 23%;
	flex-direction: row;
	display: inline-block;
	margin-left: 20px;
	background-color:#e1e0ce;">
                    <div style="height: 50px;
    width: 50px;
    margin-top: -25px;
    background-color: #fdbe1b;
    border: 5px #fdbe1b solid;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    clip-path: ellipse(50% 50%);
    padding: auto;
    display: flex;
    align-content: flex-end"><img src="../../../assets/etoile1.png" width="30px" height="30px" alt="" style="text-align: center; padding-left: 11px;text-align: center; padding-top: 10px"></div>
                    <div class="texticoneService">
                        <ul>
                            <li class="conf">ICT</li><br>
                            <li class="ppt">Nous accompagnons les entreprises et les organisations dans leur processus de transformation numérique.</li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <button style="border:0px  #e1e0ce solid;
	background-color: #e1e0ce;
	font-weight: bold;
	color:#a2d84c ;
	cursor: pointer;
	text-decoration: underline;">EN SAVOIR PLUS</button>
                        </ul>
                    </div>

                </div>
                <div style="display: flex;
	flex-direction: row;
	width: 4%;
	padding-top: 10px;
	height: 205px;"></div> 
            </div> 
        </div>
        <div class="nosrealisation" id="reali">
            <div style="color: rgb(82, 132, 15);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 70px;
    width: 100%;">
                 <ul>   
                    <br>
                       <li class="titrNos">NOS</li>
                       <li class="tiAvantage">REALISATIONS</li>
                   </ul>
            </div>
            <div style="font-weight: initial;
    text-align: center;
    height: 30px;
    width: 100%;
    color: white;
    padding-top: 10px;
    font-size: 12px;" style="color: rgb(147, 162, 154);">
                Innovantes, environnementales, sur-mesure. Découvrez nos réalisations et, à travers elles,notre savoir-faire unique<br> pour combiner quatre domaines d’expertises complémentaires
            </div>
            <div style="	font-weight: initial;
    text-align: center;
    height: 50px;
    width: 100%;
    color: white;">
                <ul>
                    <li style="text-align: center;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;">INFRASTRUCTURE</li>
                    <li style="text-align: center;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;">INDUSTRIE</li>
                    <li style="text-align: center;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;">BUILDING SOLUTIONS</li>
                    <li style="text-align: center;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;">ICT</li>
                </ul>
            </div>
            <div style="display: flex;
	height: 300px;
	width: 100%;">
                <div style="display: inline-block;
	flex-direction: row;
	width: 4%;
	height: 300px;"></div>
                <div style="height: 300px;
	width: 92%;
	display: inline-block;
    flex-direction: row">
                    <div style="height: 150px;
	width: 100%;
	display: flex;">
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"> <img src="../../../assets/induso.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/induso1.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/induso2.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/induso3.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/infra.jpg" width="300px" height="150px" alt=""></div>

                    </div>
                    <div style="height: 150px;
	width: 100%;
	display: flex;">
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/infra1.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/infra0.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/bd.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/cyber.jpg" width="300px" height="150px" alt=""></div>
                        <div style="	height: 150px;
	width: 20%;
	display: inline-block;
	flex-direction: row;"><img src="../../../assets/infa.jpg" width="300px" height="150px" alt=""></div>

                    </div>
                </div>
                <div style="display: inline-block;
	flex-direction: row;
	width: 4%;
	height: 300px;"></div>
            </div>
            <div style="width:100% ;
	height: 80px"></div>
        </div>
        <div style="background-color: #a2d84c;
	height: 200px;
	width: 100%;">
            <div style="color: white;
	text-align: center;
	padding-top: -10;
	height: 60px;
	width: 100%;
	padding-top: 10px;"><h1>COMMENCEZ UN NOUVEAU PROJET</h1></div>
            <div style="display: inline-block;
	height: 50px;
	width: 100%;
	text-align: center;">
                <form>
                    <ul>
                        <li style="text-align: center;
	margin-right: 10px;
	display: inline-block;"> <input type="text" placeholder="  VOTRE NOM"></li>
                        <li style="text-align: center;
	margin-right: 10px;
	display: inline-block;"> <input type="text" placeholder="  VOTRE EMAIL"></li>
                        <li style="text-align: center;
	margin-right: 10px;
	display: inline-block;"> <input type="text" placeholder="  VOTRE TELEPHONE"> </li>
                        <li style="text-align: center;
	margin-right: 10px;
	display: inline-block;"> <button style="border:7px #fdbe1b solid;
	background-color: #fdbe1b;
	border-radius: 3px 3px 3px 3px ;
	font-weight: bold;
	box-shadow: 3px 2px #bdaf34;
	cursor: pointer;"> ENVOYER</button> </li>
                    </ul>
                </form>
            </div>

            <div style="height: 100px;
	width: 100%;
	text-align: center;
	color: #e1e0ce;"> <br>LUXURIANT BUILD Energies élabore des solutions <br>et services multi-techniques, sur-mesure, dédiés aux infrastructures, aux bâtiments, aux usines.</div>
        </div>

        <div style="height: 470px;
	width: 100%;" id="contact">
            <div style="color: rgb(82, 132, 15);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    width: 100%">
                 <ul>
                   <li class="titreNos">NOS</li>
                   <li class="tiAvantage">CONTACTS</li>
               </ul>
            </div>
            <div style="	font-weight: initial;
    text-align: center;
    height: 30px;
    width: 100%;
    color: #a2d84c;
    padding-top: 10px;
    font-size: 12px;"> Une idée, une question, un besoin…? Vous souhaitez en savoir plus sur LUXURIANT BUILD ? <br>Pour nous contacter directement, veuillez utiliser le formulaire ci-dessous</div>
            <div style=" font-weight: initial;
    text-align: center;
    height: 50px;
    width: 100%;
    color: black;
    display: inline-block;">
                <ul>
                    <li style="text-align: center;
	display: inline-block;
	padding-left: 20px; "><img src="../../../assets/loca.png" width="20px" height="20px"> </li>
                    <li style="text-align: center;
	display: inline-block;
	padding-left: 20px; "> Nous sommes localises dans les villes de Monastir et Ambam</li>
                </ul>
                <ul>
                    <li style="text-align: center;
	display: inline-block;
	padding-left: 20px; "><img src="../../../assets/phone.png" width="20px" height="20px"> (237) 694982470 </li>
                    <li style="text-align: center;
	display: inline-block;
	padding-left: 20px; "><img src="../../../assets/phone.png" width="20px" height="20px"> (237) 699274182</li>
                    <li style="text-align: center;
	display: inline-block;
	padding-left: 20px; "><img src="../../../assets/env.png" width="20px" height="20px"> info@Luxuriant.com</li>
                </ul>
                <br>
            </div>
            <div style=" background-image: url(/src/assets/cart.png);
    display: flex;
    height: 300px;
    width: 100%;"></div>
        </div>
        <div style="display: flex;
	height: 300px;
	width: 100%;
	background-color: rgb(130, 142, 25);
	color: white; ">
            <div class="vide"></div>
            <div style="display: inline-block;
	flex-direction: row;
	width: 30%;
	height: 300px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 50px; ">
                <h2> LUXURIANT BUILD</h2> UXURIANT BUILD Energies élabore des solutions et services multi-techniques, sur-mesure, dédiés aux infrastructures, aux bâtiments, aux usines.
            </div>
            <div style="display: inline-block;
	flex-direction: row;
	width: 20%;
	height: 300px;
	padding-top: 50px; ">
                <h4 style="text-align: center;padding-right: 120px"> SERVICE</h4>
                <ul>
                    <a href="">Infrastructure.com</a><br>
                    <a href="">Industrie.com</a><br>
                    <a href="">Bulding solution.com</a><br>
                    <a href="">Ict.com</a>
                </ul>
            </div>
            <div style="display: inline-block;
	flex-direction: row;
	width: 20%;
	height: 300px;
	border-left: white solid 1px;
	padding-top: 50px; ">
                    <h4 style="text-align: center; padding-right: 50px">LIEN IMPORTANT</h4>
                <ul>
                    <a href="">Colla@Luxuriant.com</a><br>
                    <a href="">Technol@Luxuriant.com</a><br>
                    <a href="">Consut@Luxuriant.com</a><br>
                    <a href="">Servi@Luxuriant.com</a>
                </ul>
            </div>
            <div style="display: inline-block;
	flex-direction: row;
	width: 30%;
	height: 300px;
	padding-top: 50px;
	text-align: center;
	border-left:white solid 1px;
	padding-left: 10px; ">
                 <h4 style="text-align:center;">CONTACT</h4>
                <ul>
                    <!-- <img src="../../../assets/ho.png" width="20px" height="20px"> (237) 694982470<br> -->
                    <img src="../../../assets/pho.png" width="20px" height="20px"> (237) 699274182<br>
                    <img src="../../../assets/en.png" width="20px" height="20px"> info@Luxuriant.com 
                </ul>
                <h4 style="color:BLACK;">SUIVEZ-NOUS</h4>
                <div style=" width: 20px;
	height: 20px;
	background-color: black;
	border:3px black solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    color: rgb(130, 142, 25);
    font-weight: bold;">f</div>
                <div style=" width: 20px;
	height: 20px;
	background-color: black;
	border:3px black solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    color: rgb(130, 142, 25);
    font-weight: bold;">tw</div>
                <div style=" width: 20px;
	height: 20px;
	background-color: black;
	border:3px black solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    color: rgb(130, 142, 25);
    font-weight: bold;">g+</div>
                <div style=" width: 20px;
	height: 20px;
	background-color: black;
	border:3px black solid;
    border-radius: 100% ;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    color: rgb(130, 142, 25);
    font-weight: bold;">in</div>
            </div>
        </div>
    </body>
</html>
